<div class="row classistant-body">
  <div class="col-md-12">
    <h1 class="heading">Welcome to your Classistant Session</h1>
    <h4 class="heading">Todays topic: <%= @session.topic %> (<%= @session.session_key %>)</h4>
  </div>
</div>
<div class="row classistant-body session-body">
  <div class="col-md-12" id="poll-response-pie">
    <h2 class="heading">Poll Results</h2>
    <button class="btn btn-danger poll-btn btn-block" id="end-poll" disabled>End Poll</button>
    <%= pie_chart @poll_data, id: "poll-responses" %>
  </div>
  <div class="col-md-12" id="quiz-response-graph">
    <h2 class="heading" id="quiz-heading">Quiz Results</h2>
    <button class="btn btn-danger poll-btn btn-block" id="end-quiz" disabled>End Quiz</button>
    <%= column_chart @quiz_data, id: "quiz-responses" %>
  </div>

</div>
<div class="row classistant-body session-body">
  <div class="col-md-6">
    <p class="chat-data" id="uid"><%= @user.id %></p>
    <p class="chat-data" id="utp"><%= @user_type %></p>
    <p class="chat-data" id="sid"><%= @session.id %></p>
    <h1 class="message-box-heading">Class Chat</h1>
    <div id="chat-messages" class="message-box">
      <%= render 'chatmessage/list' %>
    </div>
    <form class="chat-form">
      <input type="text" data-behavior="chat_send" class="message-field" id="chat-input" autocomplete="off" placeholder="Send a message..">
      <button class="btn btn-primary chat-btn" data-behavior="chat_send" id="send-chat">Send</button>
    </form>
  </div>
  <div class="col-md-6">
    <h1 class="message-box-heading">Class Questions</h1>
    <div id="question-messages" class="message-box">
      <%= render 'question_box_lecturer' %>
    </div>
    <form class="question-form">
      <input type="text" data-behavior="answer_send" class="message-field" id="answer-input" autocomplete="off" placeholder="Answer a Question..">
      <button class="btn btn-primary chat-btn" data-behavior="answer_send" id="answer-question">Send</button>
      <label for="answer-question" class="answer-label"></label>
      <p class="mid"></p>
    </form>
  </div>
</div>
<div class="row classistant-body session-body">
  <div class="col-md-12 interaction-actions">
    <h1 class="heading">Interact with your class</h1>
    <p class="heading">Below you will find a different ways to interact with your class</p>
    <div class="col-md-6 text-center interaction-box">
      <h3 class="heading">Polling</h3>
      <div class="col-md-12 text-center">
        <button class="btn btn-primary poll-btn btn-block" id="poll-class-understanding-text">Poll Understanding (Text)</button>
        <button class="btn btn-primary poll-btn btn-block" id="poll-class-understanding-image">Poll Understanding (Image)</button>
      </div>
    </div>
    <div class="col-md-6  interaction-box">
      <h3 class="heading">Quiz</h3>
      <div class="col-md-12">
        <%= render 'quiz/session_list' %>
      </div>
    </div>
  </div>
</div>
