<div class="row classistant-body">
  <div class="col-md-12">
    <h1 class="heading">Welcome to your Classistant Session</h1>
    <h3><%= @session.topic %></h3>
    <p>Details might go here, shall see</p>
  </div>
</div>
<div class="row classistant-body">
  <div class="col-md-12">
    <h1>Interaction Box</h1>
    <p>Quizzes, Polls etc</p>
    <button class="btn primary poll-btn" id="poll-class-understanding">Poll Understanding</button>
  </div>
</div>
<div class="row classistant-body session-body">
  <div class="col-md-6">
    <p class="chat-data" id="uid"><%= @user.id %></p>
    <p class="chat-data" id="utp"><%= @user_type %></p>
    <p class="chat-data" id="sid"><%= @session.id %></p>
    <h1>Chat</h1>
    <div id="chat-messages" class="message-box">
      <%= render 'chatmessage/list'%>
    </div>
    <form class="chat-form">
      <input type="text" data-behavior="chat_send" class="message-field" id="chat-input" autocomplete="off">
      <button class="btn btn-primary chat-btn" data-behavior="chat_send" id="send-chat">Send</button>
      <br>
      <label class="anon-label"><input type="checkbox" name="checkbox" value="value" id="chat-anon-box">Send Message Anonymously</label>
    </form>
  </div>
  <div class="col-md-6">
    <h1>Ask a Question</h1>
    <div id="question-messages"  class="message-box">
      <%= render 'question_box' %>
    </div>
    <form class="question-form">
      <input type="text" data-behavior="question_send" class="message-field" id="question-input" autocomplete="off">
      <button class="btn btn-primary chat-btn" data-behavior="question_send" id="send-question">Send</button>
      <br>
      <label class="anon-label"><input type="checkbox" name="checkbox" value="value" id="question-anon-box">Ask Question Anonymously</label>
    </form>
  </div>
</div>
