<div class="row classistant-body">
  <div class="col-md-12">
    <h1 class="heading">Welcome to your Classistant Session</h1>
    <h4 class="heading">Todays topic: <%= @session.topic %></h4>
  </div>
</div>
<div class="row classistant-body">
  <div class="col-md-12 interaction-div" id="student-interaction">
    <div id="text-poll-div">
      <h3 class="heading">Your Lecturer has activated a Poll!</h3>
      <p class="heading">Do you understand the content just covered?</p>
      <p class="poll-data" id="pid"></p>
      <div class="poll-buttons">
        <button class="btn btn-success" id="text-poll-yes">Yes, I understand!</button>
        <button class="btn btn-danger" id="text-poll-no">No, I don't understand!</button>
      </div>
    </div>
    <div id="image-poll-div">
      <h3 class="heading">Your Lecturer has activated a Poll!</h3>
      <p class="heading">Do you understand the content just covered?</p>
      <p class="poll-data" id="pid"></p>
      <div class="poll-buttons">
        <form>
          <%= image_submit_tag("yes.png", :alt => "A Smiling Face Representing you Understand the content", class: "img-circle dashboard-image", id: "image-poll-yes") %>
        </form>
        <form>
          <%= image_submit_tag("no.png", :alt => "A Frowning Face Representing you don't Understand the content", class: "img-circle dashboard-image", id: "image-poll-no") %>
        </form>
      </div>
    </div>
    <div id="quiz-question-div">
      <h3 class="heading">Your Lecturer has activated a Quiz</h3>
      <p class="heading">Please fill out the following Questions and hit Submit when you're finished</p>
      <p class="heading"><strong>Note: Any questions left blank will be submitted and graded as wrong! Make sure to check your answers before submtting!</strong></p>
      <p class="quiz-data" id="qid"></p>
      <div class="col-md-12 quiz-questions">

        <form class="quiz-form">
          <div class="col-md-12 quiz-question text-center">
            <p id="quiz-question-one-text"></p>
            <br>
            <input type="text" class="quiz-field" id="question-one-field" data-behavior="chat_send">
          </div>
          <div class="col-md-12 quiz-question text-center">
            <p id="quiz-question-two-text"></p>
            <br>
            <input type="text" class="quiz-field" id="question-two-field" data-behavior="chat_send">
          </div>
          <div class="col-md-12 quiz-question text-center">
            <p id="quiz-question-three-text"></p>
            <br>
            <input type="text" class="quiz-field" id="question-three-field" data-behavior="chat_send">
          </div>
          <div class="col-md-12 quiz-question text-center">
            <p id="quiz-question-four-text"></p>
            <br>
            <input type="text" class="quiz-field" id="question-four-field" data-behavior="chat_send">
          </div>
          <div class="col-md-12 quiz-question text-center">
            <p id="quiz-question-five-text"></p>
            <br>
            <input type="text" class="quiz-field" id="question-five-field" data-behavior="chat_send"
          </div>
          <button class="btn btn-primary quiz-submit" id="send-quiz">Submit Answers</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row classistant-body session-body">
  <div class="col-md-6">
    <p class="chat-data" id="uid"><%= @user.id %></p>
    <p class="chat-data" id="utp"><%= @user_type %></p>
    <p class="chat-data" id="sid"><%= @session.id %></p>
    <h1>Chat</h1>
    <div id="chat-messages" class="message-box">
      <%= render 'chatmessage/list'%>
    </div>
    <form class="chat-form">
      <input type="text" data-behavior="chat_send" class="message-field" id="chat-input" autocomplete="off">
      <button class="btn btn-primary chat-btn" data-behavior="chat_send" id="send-chat">Send</button>
      <br>
      <label class="anon-label"><input type="checkbox" name="checkbox" value="value" id="chat-anon-box">Send Message Anonymously</label>
    </form>
  </div>
  <div class="col-md-6">
    <h1>Ask a Question</h1>
    <div id="question-messages"  class="message-box">
      <%= render 'question_box' %>
    </div>
    <form class="question-form">
      <input type="text" data-behavior="question_send" class="message-field" id="question-input" autocomplete="off">
      <button class="btn btn-primary chat-btn" data-behavior="question_send" id="send-question">Send</button>
      <br>
      <label class="anon-label"><input type="checkbox" name="checkbox" value="value" id="question-anon-box">Ask Question Anonymously</label>
    </form>
  </div>
</div>
