<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h2 class="heading">Dashboard</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 dashboard-option">
    <%= image_tag("placeholder.jpg", :alt => "A Placeholder Image", class: "img-circle dashboard-image") %>
    <br>
    <%= link_to("Classes", classgroups_url, class: "btn btn-primary dashboard-btn") %>

  </div>
  <div class="col-md-3 dashboard-option">
    <%= image_tag("placeholder.jpg", :alt => "A Placeholder Image", class: "img-circle dashboard-image") %>
    <br>
    <%= link_to("Join Session", new_joinsession_url, class: "btn btn-primary dashboard-btn") %>
  </div>
  <div class="col-md-3 dashboard-option">
    <%= image_tag("placeholder.jpg", :alt => "A Placeholder Image", class: "img-circle dashboard-image") %>
    <br>
    <%= link_to("Enroll", enrollment_url, class: "btn btn-primary dashboard-btn") %>
  </div>
  <div class="col-md-3 dashboard-option">
    <%= image_tag("placeholder.jpg", :alt => "A Placeholder Image", class: "img-circle dashboard-image") %>
    <br>
    <%= link_to("Settings", classgroups_url, class: "btn btn-primary dashboard-btn") %>
  </div>
</div>
