<table class="table student-list-table">
  <thead>
  <tr>
    <th scope="col">Student ID</th>
    <th scope="col">Name</th>
    <th scope="col">Attendance</th>
    <th scope="col">Understanding</th>
    <th scope="col">Quiz Performance</th>
    <th scope="col">Send Attendance Email</th>
    <th scope="col">Quiz Performance</th>
  </tr>
  </thead>
  <tbody>
  <% @students.each do |stud| %>
    <tr>
      <td><%= stud.id %></td>
      <td><%= stud.full_name %></td>
      <td><%= stud.classsessions.where("classgroup_id = " + @classgroup.id.to_s).count %> / <%= @sessions.count %></td>

      <% @yes_count = 0 %>

      <% @quiz_count = 0 %>
      <% @correct_count = 0 %>

      <% stud.understanding_responses.each do |response| %>
        <% @temp = response.understanding_poll %>
        <% @temp_session = @temp.classsession %>
        <% @temp_classgroup = @temp_session.classgroup %>
        <% if @understood and @temp_classgroup == @classgroup %>
          <% @yes_count = @yes_count + 1 %>
        <% end %>
      <% end %>
      <% if @yes_count < (@poll_count / 2) / 2 %>
        <td class="student-critical"> <%= @yes_count %> / <%= @poll_count %></td>
      <% elsif @yes_count < (@poll_count / 2)%>
        <td class="student-critical"> <%= @yes_count %> / <%= @poll_count %></td>
      <% else %>
        <td> <%= @yes_count %> / <%= @poll_count %></td>
      <% end %>

      <% stud.quizquestionresponses.each do |quizresp| %>
        <% @temp = quizresp.quizquestion %>
        <% @temp_quiz = @temp.quiz %>
        <% if @temp_quiz.classgroup == @classgroup && quizresp.correct? %>
          <% @correct_count = @correct_count + 1 %>
        <% end %>
      <% end %>

      <% if @correct_count < (@quiz_question_count / 2) / 2 %>
        <td class="student-critical"><%= @correct_count %> / <%= @quiz_question_count %></td>
      <% elsif @correct_count < (@quiz_question_count / 2) %>
        <td class="student-warning"><%= @correct_count %> / <%= @quiz_question_count %></td>
      <% else %>
        <td><%= @correct_count %> / <%= @quiz_question_count %></td>
      <% end %>

      <td><%= link_to("Send Performance Email", student_send_support_url(stud.id, :classgroup => @classgroup.id), class: "btn btn-danger") %></td>
      <td><%= link_to("Send Performance Email", student_send_support_url(stud.id, :classgroup => @classgroup.id), class: "btn btn-danger") %></td>



    </tr>
  <% end %>
  <!--End of Students Do-->
  </tbody>
</table>