<div class="row">
  <div class="col-md-12 classistant-body">
    <div class="heading">
      <h2>Join a Session</h2>
      <p>To join a Session simply enter the Session Code</p>
    </div>

    <% if @join_session.errors.any? %>
      <div class="error-explanation">
        <h2>Error Prevented you from Joining</h2>
        <ul>
          <% @join_session.errors.full_messages.each do |msg| %>
            <li>
              <%= if (msg.include? "Key")
                    "Invalid Session Key"
                  else
                    "An error Occured while trying to join, please check your key and try again"
                  end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <div class="classistant-form centered-form">
      <%= bootstrap_form_for @join_session, :url => joinsession_path,  inline_errors: false do |f| %>
        <%= f.number_field :session_key, label: 'Session Key', class: 'enroll-input' %>
        <%= f.submit "Enroll", class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>

<div class="row back-to-dashboard-btn">
  <div class="col-md-12 text-center">
    <%= link_to("Back to Dashboard", dashboard_index_url, class: "btn btn-primary not-enrolled-back-btn") %>
  </div>
</div>