<div class="row">
  <div class="col-md-12 classistant-body">
    <div class="heading">
      <h2>Enroll in a Class</h2>
      <p>To enroll in a class simply enter the Enrollment key below and press submit</p>
    </div>
    <% if @enrollment.errors.any? %>
      <div class="error-explanation">
        <h2>Error Prevented you from Enrolling</h2>
        <ul>
          <% @enrollment.errors.full_messages.each do |msg| %>
            <li>
              <%= if (msg.include? "Key")
                    "Invalid Enrollment Key"
                  else
                    "You are already Enrolled in that Class"
                  end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="classistant-form centered-form">
      <%= bootstrap_form_for @enrollment, :url => enrollment_path, inline_errors: false do |f| %>
        <%= f.number_field :enrollment_key, label: 'Enrollment Key', class: 'enroll-input' %>
        <%= f.submit "Enroll", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<div class="row back-to-dashboard-btn">
  <div class="col-md-12 text-center">
    <%= link_to("Back to Dashboard", dashboard_index_url, class: "btn btn-primary not-enrolled-back-btn") %>
  </div>
</div>        <%= render 'quiz/session_list' %>
