<% @classes.each do |classgroup| %>
  <div class="row class-body class-list-row">
    <div class="col-md-6 class-list-view">
      <a href="/classgroups/<%=classgroup.id%>"><h4><%= classgroup.class_name %></h4></a>
      <p><%= classgroup.class_description %></p>
    </div>
    <div class="col-md-6 class-list-view">
      <% if classgroup.image_id == 1 %>
        <%= image_tag("computer-class-icon.svg", :alt => "A Picture of a Computer", class: "img-rounded class-list-image") %>
      <% elsif classgroup.image_id == 2 %>
        <%= image_tag("web-class-icon.png", :alt => "A Picture of a Computer", class: "img-rounded class-list-image") %>
      <% elsif classgroup.image_id == 3 %>
        <%= image_tag("business-class-icon.png", :alt => "A Picture of a Computer", class: "img-rounded class-list-image") %>
      <% elsif classgroup.image_id == 4 %>
        <%= image_tag("statistics-class-icon.png", :alt => "A Picture of a Computer", class: "img-rounded class-list-image") %>
      <% elsif classgroup.image_id == 5 %>
        <%= image_tag("generic-class-icon.png", :alt => "A Picture of a Computer", class: "img-rounded class-list-image") %>
      <% elsif classgroup.image_id == 6 %>
        <%= image_tag("comical-class-icon.png", :alt => "A Picture of a Computer", class: "img-rounded class-list=image") %>
      <% end %>    </div>
  </div>
<% end %>

<% if !@classes.any? %>
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1 class="heading">Oops! Looks like you haven't enrolled in any classes yet!</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <%= link_to("Back to Dashboard", dashboard_index_url, class: "btn btn-primary not-enrolled-back-btn") %>
    </div>
  </div>
<% end %>